# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
 
- List of popular languagues in Data Science 
- List of common libraries used by Data Scientists 
- List of Data Science Tools 
- Examples o arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot (R)
2. Pandas (Python)
3. NumPy (Python)

| Data Science Tools |
| ------------------ |
| Rstudio |
| jupyter Notebook|
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [19]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [30]:
#x is time in minutes, y represent the conversion of x into hours
x=200
y=x/60
print(y)

3.3333333333333335

## Author ##

Bruno Gomes